{% extends 'base.html.twig' %}

{% block title %}
  Lol esport Tracker
{% endblock %}

{% block body %}

  <h1> Bienvenue sur LOL esport tracker ! </h1>
  <p>
    League of Legend est un jeu de type MOBA très actif sur la scène de l'esport. Utilisez cette application pour garder une trace des résultats de vos équipes préférées.
  </p>

  {% if games is empty %}
    <p>{{ 'games.nb'|transchoice(0) }}</p>
  {% else %}

    {#{ dump(games) }#}
    <p>{{ 'games.nb'|transchoice(games|length, {'%nb%': games|length}) }}</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Team One</th>
          <th scope="col">Score</th>
          <th scope="col"> Team Two</th>
          <th scope="col">Supprimer la rencontre</th>
        </tr>
      </thead>
      <tbody>
        {% for game in games %}
          <tr>
            <td>
              {{ game.Date|date('d/m/Y') }}
            </td>
            <td>
              team one
            </td>
            <td>
              {{ game.teamA_Score }} --- {{ game.teamB_Score }}
            </td>
            <td>
              team two
            </td>
            <td>
              <a href="{{ path('delete_game', {'id': game.id}) }}" class="btn btn-danger">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {{ form_start(form) }}
    {{ form_widget(form) }}
  {{ form_end(form) }}

{% endblock %}
