{% extends 'base.html.twig' %}

{% block title %}
  Lol esport Tracker - Players
{% endblock %}

{% block body %}

  <h1> Les joueurs en course : </h1>
  <p>
    /!\ Chaque joueur doit être inscrit avec son pseudo (nom de scène et pseudo en jeu), son nom, son prénom, son genre et son équipe /!\
  </p>

  {% if players is empty %}
    <p>{{ 'players.nb'|transchoice(0) }}</p>
  {% else %}

      {#{ dump(players) }#}
      <p>{{ 'players.nb'|transchoice(players|length, {'%nb%': players|length}) }}</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Genre</th>
            <th scope="col">Equipe</th>
            <th scope="col">Supprimer le joueur</th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
            <tr>
              <td>
                {{ player.pseudo }}
              </td>
              <td>
                {{ player.name }}
              </td>
              <td>
                {{ player.firstName }}
              </td>
              <td>
                {{ player.gender }}
              </td>
              <td>
                <a href="{{ path('list_teams', {'id': player.team.id}) }}">
                  {{player.team.name}}
                </a>
              </td>
              <td>
                <a href="{{ path('delete_player', {'id': player.id}) }}" class="btn btn-danger">Supprimer</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

  {% endif %}

  <p>
    Ajouter un joueur :
  </p>

  {{form_start(form)}}
    {{form_widget(form)}}
  {{form_end(form)}}


{% endblock %}
