{% extends 'base.html.twig' %}

{% block title %}
  Lol esport Tracker - Teams
{% endblock %}

{% block body %}

  <h1> Les équipes en course : </h1>

  {% if teams is empty %}
    <p>{{ 'teams.nb'|transchoice(0) }}</p>
  {% else %}

    {#{ dump(teams) }#}
    <p>{{ 'teams.nb'|transchoice(teams|length, {'%nb%': teams|length}) }}</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Equipe</th>
          <th scope="col">Joueurs</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td>
              {{ team.name}}
            </td>
            <td>
              {% if team.player is empty %}
                Pas de joueur dans l'équipe
              {% else %}
                <ul>
                  {% for player in team.player %}
                    <li>
                      {{ player.pseudo }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <p>
    Ajouter une équipe à la liste des participants :
  </p>
  {{form_start(form)}}
    {{form_widget(form)}}
  {{form_end(form)}}

{% endblock %}
